
button {
    display: block;
    margin: 10px auto;
    width: 120px;
    height: 40px;
    font-size: 15px;
    background: dodgerblue;
    border: 1px solid black;
    border-radius: 5px;
    outline: none;
}
button:hover {
    background: deepskyblue;
}
button:active {
    background: aqua;
}
.circles {
    display: flex;
    justify-content: center;
}
.circle {
    width: 50px;
    border: 1px solid black;
    border-radius: 50%;
    height: 50px;
    margin: 50px;
}
.number {
    text-align: center;
}